<!DOCTYPE html  >
<html xmlns:th="www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout.html" lang="fr">

  <head>

   
   <meta charset="utf-8">
  </head>

  <body id="page-top">
   
   <div layout:fragment="content">
     <div class=" my-auto">
        <!-- HEADER CONTENT -->
        <div class="container">
        <div class="row  justify-content-center">
          <div class="col-lg-10 mx-auto">
            <h2 class="text-uppercase text-center">
              <strong>Certificat de nationalité</strong>
            </h2>
          </div>
        </div>
        </div>
        <!-- CONTENT DU CASIER -->
        <div layout:fragment="certificat_content" class="container-fluid">
             <div class="row  mb-3 justify-content-center">
                <p class="text-center h5">Déposer une demande ou suivre l'évolution de votre demande d'extrait de certificat de nationalié .</p>
             </div>
		     <div class="row mb-3 equal justify-content-center h-100" >
		                 <div class="col-sm-4 my-2">
		                       <div class="card h-100">
				                     <div class="card-header">
				                        <h5 class=" text-center text-uppercase   px-4"> 
			                              <strong>Déposer une demande</strong> 
			                            </h5>
				                     </div>
				                     <div class="card-body">
				                       <p class="text-justify p-1 text-muted" style="font-size: 18px;">
			                             Déposer une demande d'établissement d'un extrait de votre certificat de nationalité en remplissant les informations démandés.			                    
			                           </p>
			                           <div class="text-center">
			                              <a class="btn btn-primary m-2 " th:href="@{'/services/certificat/demande'}">Déposer ma demande</a>
			                           </div>
			                          
				                     </div>
			                   </div>
		                 </div>
		                 <div class="col-sm-4 my-2">
			                   <div class="card h-100">
				                     <div class="card-header">
				                       <h5 class=" text-center text-uppercase   px-4"> 
				                        <strong>Suivie de sa demande</strong>
				                       </h5>
				                     </div>
				                     <div class="card-body">
				                         <p class="text-justify text-muted p-1" style="font-size: 18px;">
					                      Si vous aviez déja déposé une demande pour l'établissement d'un extrait de votre certifcat de nationalié, vous pouvez suivre
					                      l'évolution du traitément de votre dossier.
					                      </p>
					                      <div class="text-center">
			                               <a class="btn btn-primary  m-2" th:href="@{'/services/certificat/suivre'}">Suivre mon dossier</a>
				                         </div>
				                     </div>
			                   </div>
		                 </div>
		       </div>
         </div>
      </div>
   </div>
   
  </body>

</html>