<!DOCTYPE html  >
<html xmlns:th="www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="certificat/certificat.html" lang="fr">

  <head>

   
   <meta charset="utf-8">
  </head>

  <body id="page-top">
   
        <div layout:fragment="certificat_content" class="col-12">
        
             <div th:if="${ACTION=='connection'}" class="row  mb-3 justify-content-center">
                 <div class="col-sm-5">
                    <div class="card">
                      <div class="card-header">
                          <h6 class="text-center text-uppercase">Suivie de demande de certificat de nationalité</h6>
                      </div>
                      <div class="card-body">
                        <div class="row mb-2 mx-2">
                           <p>Pour pouvoir suivre l'évolution de votre dossier il faut vous connecter avec 
                        votre adresse mail et votre code de la demande.
                           </p>
                           <p th:if="${error!=null}" class="text-danger" th:text="${error}"></p>
                        </div>
                        <form action="verifier" method="post">
                        <div class="row mb-3">
			                 <div class="col-sm-4">
			                   <label>Email <span style="color:red; font-size: 24px;">*</span></label>
			                 </div>
			                 <div class="col-sm-8">
			                   <input class="form-control" type="email" name="email" required="required" placeholder="Entrez votre adresse mail"/>
			                 </div>
	                    </div>
	                    <div class="row mb-3">
			                 <div class="col-sm-4">
			                   <label>Mot de passe <span style="color:red; font-size: 24px;">*</span></label>
			                 </div>
			                 <div class="col-sm-8">
			                   <input class="form-control" type="password" required="required" name="password" placeholder="Entrez votre mot de passe"/>
			                 </div>
	                    </div>
	                    <div class="row mb-3">
			                 <div class="col-sm-4">
			                   <label>Comfirmation du mot de passe <span style="color:red; font-size: 24px;">*</span></label>
			                 </div>
			                 <div class="col-sm-8">
			                   <input class="form-control" type="password" name="confirm" placeholder="Repétez votre mot de passe"/>
			                 </div>
	                    </div>
	                    <div class="row mb-3">
			                 <div class="col-sm-4">
			                   <button class="btn btn-primary" type="submit">Connecter</button>
			                 </div>
			                 <div class="col-sm-8">
			                   
			                 </div>
	                    </div>
	                    </form>
                      </div>
                    </div>
                 </div>
             </div>
             <div th:if="${ACTION=='connected' && demande!=null}" class="row mb-3 justify-content-center">
               <div class="col-sm-5 ">
                  <div class="card">
                     <div class="card-header">
                       <h5 class="text-center">Ma demande</h5>
                     </div>
                     <div class="card-body">
                        <div class="col-12">
                           <div class="row mb-2 justify-content-center">
                              <div class="col-sm-4">
                               <label> Numéro de la demande </label>
                              </div>
                              <div class="col-sm-8">
                                <input class="form-control" th:value="${demande.id}" readonly="readonly">
                              </div>
                           </div>
                           <div class="row mb-2 justify-content-center">
                              <div class="col-sm-4">
                               <label> Date de demande </label>
                              </div>
                              <div class="col-sm-8">
                                <input class="form-control" th:value="${demande.date}" readonly="readonly" >
                              </div>
                           </div>
                           <div class="row mb-2 justify-content-center">
                              <div class="col-sm-4">
                               <label> Etat </label>
                              </div>
                              <div class="col-sm-8">
                                <textarea class="form-control" th:text="${demande.traite==true?'Votre demande a été traité':' Votre demande est en cours de traitement !'}" readonly="readonly" rows="2"></textarea>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
        </div>
        
   
  </body>

</html>